<div class="row border">
   <div class="col-1 border">
       <span class="card-time">{{ contact.dateContacts|date('d/m/Y') }}</span>
   </div>
    <div class="col-2 border">
        <span>{{ contact.sujet }}</span>
    </div>
    <div class="col-3">
        <span>{{ contact.email }}</span>
    </div>
    <div class="col-2 border">
        <form>
            {% if contact.reponse == 1 %}
                <button class="btn btn-success" type="submit" name="Repondu[{{ contact.id }}]" id="flexCheckIndeterminate">Répondu</button>
            {% else %}
            <button class="btn btn-warning" type="submit" name="noReponse[{{ contact.id }}]" id="flexCheckIndeterminate">En attente</button>
            {% endif %}
        </form>
    </div>
    <span class="col-2 border text-center">
        <a class="btn-primary" href="{{ path('contact_admin_view', {id: contact.id}) }}">Aperçu</a>
    </span>
    <span class="col-2 border text-center">
        <div class="col-2">
            <a class="btn-danger" href="{{ path('contact_admin_remove', {id: contact.id}) }}">Supression</a>
        </div>
    </span>
</div>