<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

    <title>{% block title %}Welcome!{% endblock %}</title>
    {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

</head>

<body>

{% block header %}
    <header id="header">
        <nav class="navbar navbar-expand-lg"> <!--/navbar-dark bg-primary"-->
            <div class="container">
                <a class="navbar-brand" href="{{ path('accueil') }}"> PICASSOUILLE </a>

                <div class="navbar-header">
                    <ul class="nav nav-fill nav-justified">
                        <li class="nav-item">
                            <a class="nav-link active" href="{{ path('accueil_admin') }}"> Accueil </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('oeuvres_admin') }}">Œuvres</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('ateliers_admin') }}">Ateliers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('news_admin') }}">News</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('contact_admin') }}">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
{% endblock %}

{% block body %}{% endblock %}

<!--bouton top page-->
<button onclick="function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
        }
        topFunction()" id="myBtn" title="Go to top">Top</button>
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}

{% block footer %}
    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <ul class="pull-right">
                        <ul class="contact_footer">Contact</ul>
                        <li>Nom Prénom </li>
                        <li>Mail </li>
                        <li>Téléphone </li>
                        <li>Adresse </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}

</body>
</html>
