{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <style>
        .pi_accueil_bg{
            background-image: url('{{asset("images_l3/maple.jpg")}}');
            background-repeat: no-repeat;
            background-size: contain;
        }
        #pi_case_logos {
            background-image: url('{{ asset('images_l3/licornes.jpg') }}');
            background-repeat: no-repeat;
            background-size: contain;
            vertical-align: bottom;
            width: 400px;
            height: 350px;
        }

        #pi_case_illustrations {
            background-image: url('{{ asset('images_l3/licornes.jpg') }}');
            background-repeat: no-repeat;
            background-size: contain;
            vertical-align: bottom;
            width: 400px;
            height: 380px;
        }

        #pi_case_affiches {
            background-image: url('{{ asset('images_l3/licornes.jpg') }}');
            background-repeat: no-repeat;
            background-size: contain;
            vertical-align: bottom;
            width: 400px;
            height: 380px;
        }
    </style>

        <div class="pi_accueil_bg">
            <h1 id="pi_titre_accueil">Picassouille</h1>
            <h2 id="pi_accroche_accueil">Illustrations, logos, affiches</h2>
        <div/>

        <table>
            <td id="pi_img_bio_accueil">
                <img src="{{ asset('images_l3/chat.png') }}" alt="chat roux faisant un clin d'œil"
                     width="465" height="300"/>
            </td>
            <td id="pi_txt_biographie_accueil"><h2 id="pi_h2">Eugénie Picassouille</h2>
                <button id="pi_contacter_Eugénie_button">
                    <a id="pi_txt_button" href="{{ path('contact') }}">Me contacter</a>
                </button>
                <p>Diplômée de l’École nationale supérieure des Beaux Arts de Paris depuis 2017,
                    j’exerce en tant qu’illustratrice graphiste et ai réalisé
                    de nombreux projets professionnels depuis.<br>
                    Vous pouvez décider de me contacter
                    dès maintenant pour commander la concrétisation de l'œuvre qui vous hante,
                    ou bien vous baladez un peu sur mon site avant — on se retrouve dans
                    Contact dans ce cas !<br>
                    À très vite ;)
                </p>
            </td>
        </table>

        <hr id="pi_hr_acceuil">

        <h2 id="pi_h2">Œuvres</h2>
        <p id="pi_txt_accroche_oeuvres">
            Vous voulez un logo pour votre entreprise, une illustration pour votre décoration
            ou une affiche pour vos évènements ?<br>
            Vous êtes au bon endroit !
        </p>




        <table id="pi_accueil_table_types_img">
            <tr>
                <!--case des logos-->
                <td id="pi_case_logos">
                </td>

                <!--case des illustrations-->
                <td id="pi_case_illustrations">
                </td>

                <!--case des affiches-->
                <td id="pi_case_affiches">
                </td>
            </tr>

            <tr>
                <td>
                    <button id="pi_logo_accueil_btn">
                        <a id="pi_txt_logo_accueil" href="{{ path('oeuvres') }}">Logo</a>
                    </button>
                </td>

                <td>
                    <button id="pi_illustrations_accueil_btn">
                        <a id="pi_txt_illustrations_accueil" href="{{ path('oeuvres') }}">Illustrations</a>
                    </button>
                </td>

                <td>
                    <button id="pi_affiches_accueil_btn">
                        <a id="pi_txt_affiches_accueil" href="{{ path('oeuvres') }}">Affiches</a>
                    </button>
                </td>
            </tr>

            <tr>
                <!--id="plus_logos"id="plus_illustrations"id="plus_affiches"-->
                <!--bouton voir plus de logos-->
                <td>
                    <button id="pi_voir_plus_button">
                        <a id="pi_txt_button" href="{{ path('oeuvres') }}">voir plus</a>
                    </button>
                </td>

                <!--bouton voir plus d'illustrations-->
                <td>
                    <button id="pi_voir_plus_button">
                        <a id="pi_txt_button" href="{{ path('oeuvres') }}">voir plus</a>
                    </button>
                </td>

                <!--bouton voir plus d'affiches-->
                <td>
                    <button id="pi_voir_plus_button">
                        <a id="pi_txt_button" href="{{ path('oeuvres') }}">voir plus</a>
                    </button>
                </td>
            </tr>
        </table>

        <hr id="pi_hr_acceuil">

        <h2 id="pi_h2">Dernières actualités</h2>
        <table id="pi_accueil_table_types_img">
            <td>
                <img src="{{ asset('images_l3/ampoule.jpg') }}"
                     alt="ampoule sur fond noir avec un cœur jaune à l'intérieur"
                     width="250" height="250"/>
                <p>23/10/2021 : Eurêka amoureux</p>
            </td>
            <td>
                <img src="{{ asset('images_l3/ciel_sol.jpg') }}"
                     alt="homme regardant le ciel à travers un trou dans le sol"
                     width="250" height="250"/>
                <p>9/11/2021 : La lune dans le sol</p>
            </td>
        </table>
        <button id="plus_news"><a href="{{ path('news') }}">voir plus</a></button>
        <br><br><br><br><br>

{% endblock %}
