{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        <!--Le header avant la nav-->
        <header class="page-header">
            <a href="{{ path('accueil') }}">Accueil</a> <a href="{{ path('news') }}">News</a>
                <a href="{{ path('oeuvres') }}">Œuvres</a> <a href="{{ path('ateliers') }}">Ateliers</a>
                <a href="{{ path('contact') }}">Contact</a>
        </header>

        <h1>Picassouille</h1>
        <p>Illustrations, logos, affiches</p>
        <br><br><br><br><br>

        <h2>Eugénie Picassouille</h2>
        <p><a href="{{ path('contact') }}">Me contacter</a></p>
        <br><br><br><br><br>

        <h2>Œuvres</h2>
        <p>Logos <br><a href="{{ path('oeuvres') }}">voir plus</a></p><br>
        <p>Illustrations <br><a href="{{ path('oeuvres') }}">voir plus</a></p><br>
        <p>Affiches <br><a href="{{ path('oeuvres') }}">voir plus</a></p>
        <br><br><br><br><br>

        <h2>Dernières actualités</h2>
        <p>Là y aura deux vignettes d'articles <br><a href="{{ path('news') }}">voir plus</a></p>
        <br><br><br><br><br>

    </div>

{% endblock %}
