{% extends 'base.html.twig' %}
{% block title %}Ajouter - Picassouille{% endblock %}
{% block body %}
    <div class="container">
        <form>
        <h1>Voullez-vous vraimer supprimer l'article suivant</h1>
        <span class="view-title"><h4>{{ article.titre }}</h4></span>
        <span class="view-description">{{ article.corpsArticle }}</span>
        <span class="view-date"><p class="card-time">{{ article.dateHeureEnregistrement|date('d/m/Y') }}</p></span>
         <button class="btn btn-danger"type="submit" onclick=""><a class="text-white" href="{{ path('news_admin') }}">Supprimer</a></button>
         <a type="submit" class="btn btn-secondary" href="{{ path('news_admin') }}" >Annuler</a>
        </form>
    </div>
{% endblock %}