<div class="card">
    <a href="{{ path('news_views', {id: article.id}) }}">
        <img class="card-img-top" src="{{ asset('/image/'~article.nomFichierImage) | trans}}" alt="{{ article.titre }}">
        <div class="card-body">
            <span class="card-title">
                <h3 class="card-title">{{ article.titre }}</h3>
            </span>
            {% for t in article.listeTags %}
                <span class="meta">
                    <span class="date">{{ article.dateHeureEnregistrement|date('d/m/Y') }}</span>
                    <span class="tag">{{ t.libelle}}</span>
                </span>
            {% endfor %}
        </div>
    </a>
</div>