<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">

        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        <style>
            .taille { min-height: 90em; }
        </style>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
              integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    </head>
    <body>
    {% block header %}
    <!--Header navbar-->
        <header id="header">
            <nav class="navbar navbar-expand-lg"> <!--/navbar-dark bg-primary"-->
                <div class="container">
                    <a class="navbar-brand" href="{{ path('accueil') }}"> PICASSOUILLE </a>

                    <div class="navbar-header">
                        <ul class="nav nav-fill nav-justified">
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('accueil') }}"> Accueil </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('oeuvres') }}">Œuvres</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('news') }}">News</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('ateliers') }}">Ateliers</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('contact') }}">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
    {% endblock %}

        {% block body %}{% endblock %}
        <!--bouton top page-->
        <button onclick="function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
        }
        topFunction()" id="myBtn" title="Go to top">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-up-circle" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/>
            </svg></button>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    {% block footer %}
        <footer id="footer">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <ul class="pull-right">
                            <ul class="contact_footer">Contact</ul>
                            <li>Nom Prénom </li>
                            <li>Mail </li>
                            <li>Téléphone </li>
                            <li>Adresse </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    {% endblock %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous">
    </script>
    </body>
</html>
