<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>

    <header id="header">

        <nav class="navbar navbar-inverse" role="banner">
            <div class="container">

                <div class="navbar-header">
                    <a class="navbar-brand" href="{{ path('accueil') }}"> PICASSOUILLE </a>
                    <a href="{{ path('accueil') }}">Accueil</a>
                    <a href="{{ path('oeuvres') }}">Œuvres</a>
                    <a href="{{ path('ateliers') }}">Ateliers</a>
                    <a href="{{ path('news') }}">News</a>
                    <a href="{{ path('contact') }}">Contact</a>
                </div>

            <!--    <div class="collapse navbar-collapse navbar-right"> -->



           <!--     </div> -->

            </div>
            <!--/.container-->
        </nav>
        <!--/nav-->

    </header>
    <!--/header-->

    {% block body %}{% endblock %}

    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <ul class="pull-right">

                        <ul class="contact_footer">Contact</ul>
                        <li>Nom Prénom </li>
                        <li>Email </li>
                        <li>Téléphone </li>
                        <li>Adresse </li>

                      <!--  <li><a href="{{ path('accueil') }}">Accueil</a></li>
                        <li><a href="{{ path('oeuvres') }}">Oeuvres</a></li>
                        <li><a href="{{ path('ateliers') }}">Ateliers</a></li>
                        <li><a href="{{ path('news') }}">News</a></li>
                        <li><a href="{{ path('contact') }}">Contact</a></li> -->
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!--/#footer-->

    </body>
</html>
