<a href="{{ path('oeuvres_views', {id: oeuvres.id}) }}">
    <div class="card pi-card-oeuvre">
        <img class="pi-card-oeuvre-img img-fluid" src="{{ asset('/images/oeuvres/'~oeuvres.nomFichierImage) | trans}}" alt="{{ oeuvres.titre }}">
        <div class="pi-card-oeuvre-titre">
            <h4 class="pi-soustitre">{{ oeuvres.titre }}</h4>
            {# Liste des tags associés à l'oeuvre #}
            {#<div>
                {% for t in oeuvres.listeTags %}
                     <em class="text-muted text-primary text-italic">#{{ t.libelle}}</em>
                {% endfor %}
                {% for type in types %}
                    <em class="text-muted text-primary text-italic">#{{ type.libelle}}</em>
                {% endfor %}
            </div>#}
        </div>
    </div>
</a>
