<div class="card">
    <a href="{{ path('oeuvres_views', {id: oeuvres.id}) }}">
        <img class="card-img-top" src="{{ asset('build/image/'~oeuvres.nomFichierImage) | trans}}" alt="{{ oeuvres.titre }}">
        <div class="card-body">
            <h5 class="card-title">{{ oeuvres.titre }}</h5>
        </div>
    </a>
    <div>
        {% for t in oeuvres.listeTags %}
             <em class="text-muted text-primary text-italic">#{{ t.libelle}}</em>
        {% endfor %}
        {% for type in types %}
            <em class="text-muted text-primary text-italic">#{{ type.libelle}}</em>
        {% endfor %}
    </div>
</div>