{% extends 'base.html.twig' %}

{% block title %}Œuvres{% endblock %}
{% block nav_oeuvres %}active{% endblock %}

{% block body %}
    <div class="pi-page">
        <div class="container">
            <form>
                <!-- Boutons correspondant aux types des oeuvres -->
                <div class="row">
                    {% for type in types %}
                        <div class="col-4">
                            <input name="searchType[{{ type.libelle }}]"  type="checkbox" value="" id="searchType[{{ type.libelle }}]" hidden/>
                            <label class="pi-btn-rouge pi-max-width" id="pi-oeuvre-libelle-{{ type.libelle }}" for="searchType[{{ type.libelle }}]">
                                <div class="pi-btn-texte">{{ type.libelle }}</div>
                            </label>
                        </div>
                    {% endfor %}
                </div>
                <br>
                <div class="row">
                    <div class="col-2">
                        <div>
                            <h4>Catégories</h4>
                            {% for tag in tags %}
                                <div class="form-check">
                                    <input class="form-check-input" name="searchTag[{{ tag.libelle }}]"  type="checkbox" value="" id="searchTag[{{ tag.libelle }}]"/>
                                    <label class="form-check-label pi-texte" for="searchTag[{{ tag.libelle }}]">
                                        {{ tag.libelle }}
                                    </label>
                                </div>
                            {% endfor %}
                            <br>
                            <button type="submit" class="pi-btn-bleu pi-btn-texte pi-max-width">Filtrer</button>
                            <button class="pi-btn-texte pi-btn-rouge pi-max-width" href="{{ path('oeuvres') }}">Réinitialiser</button>
                        </div>
                    </div>
                    <div class="col-10">
                        <div class="mosaic">
                            {% for oeuvres in oeuvres %}
                                {% include 'oeuvres/_card.html.twig' %}
                            {% endfor %}
                        </div>
                        <div class="mt-4">
                            {{ knp_pagination_render(oeuvres) }}
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
